@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
		"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

@layer utilities {
	.animation-delay-250 {
		-webkit-animation-delay: 250ms !important;
		animation-delay: 250ms !important;
	}
	.animation-delay-500 {
		-webkit-animation-delay: 500ms !important;
		animation-delay: 500ms !important;
	}
	.animation-delay-750 {
		-webkit-animation-delay: 750ms !important;
		animation-delay: 750ms !important;
	}
}
